body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #121212;
    color: #ffffff;
}
#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}
#title {
    font-size: 2em;
    margin-bottom: 20px;
}
#photo {
    width: 100%;
    max-width: 600px;
    height: auto;
    margin-bottom: 20px;
    border-radius: 10px;
}
#instructions {
    font-size: 1.2em;
    margin-bottom: 20px;
}
#map {
    height: 500px;
    width: 100%;
    max-width: 600px;
    margin-bottom: 20px;
    border-radius: 10px;
}
#info, #closest-guess {
    font-size: 1.2em;
    margin-top: 20px;
}
.bottomText { 
    font-size: 1.2em;
    margin-top: 10px;
}

button {
    font-size: 20px;
    padding: auto;
}
input#password {
    font-size: 20px;
}
/* Modal styling */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0,0,0,0.8);
    padding-top: 60px;
}
.modal-content {
    background-color: #333333;
    color: #ffffff;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 400px;
    text-align: center;
    border-radius: 10px;
}

.modal-content img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
hr {
    border: 0;
    height: 1px;
    background: #ffffff;
    width: 80%;
    margin: 15px 0;
}

/* SCRATCH AND WIN */
.scratch-win {
    position: relative;
    padding: 1rem 2rem 2rem 2rem;
    background: linear-gradient(#2b3432, #041119);
    border: 0.2rem solid #ffdc73;
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: 0.2rem 0.2rem 1rem 0 rgba(0, 0, 0, 0.3);
    display: none;
}
  
  .scratch-win__title {
    width: 100%;
    margin: 0 auto 1rem;
    color: #ffdc73;
    font-size: 2rem;
    text-align: center;
    text-transform: uppercase;
  }
  
  .scratch-win__scratcher {
    position: relative;
    width: auto;
    height:12.5rem;
  }
  
  .scratch-win__background {
    display: block;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    background-color: #000000;
    text-transform: uppercase;
    font-size: 1.5rem;
  }
  
  .scratch-win__foreground,
  .scratch-win__background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  #canvas {
    width: 100%;
    height: 100%;
  }

  #errorMessage,
  #errorMessage2 {
    display: none;
  }

#hamburger-menu {
    top: 10px;
    right: 10px;
    z-index: 1000;
    width: 100vw;
}

#menu-toggle {
    display: none;
}

.menu-icon {
    font-size: 30px;
    cursor: pointer;
}

.menu-content {
    display: none;
    flex-direction: column;
    background-color: #333333;
    position: absolute;
    top: 50px;
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
    align-self: center;
}

.menu-content a {
    padding: 10px;
    color: #ffffff;
    text-decoration: none;
    text-align: center;
}

.menu-content a:hover {
    background-color: #575757;
}

#menu-toggle:checked + .menu-icon + .menu-content {
    display: flex;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
}